.flex {
  display: flex;
}
.container {
  margin: 0 auto;
  max-width: 1270px;
  padding: 0 15px;
}
.back {
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid rgba(150, 101, 240, 0.685);
}
.remark {
  border: 2px solid #fc2727;
  margin: 0 0 40px 0;
  padding: 5px;
}
.main {
  min-height: 220px;
  flex: 1;
}
.main > * {
  /* min-width: 320px, max-width: 900px*/
  margin: 0 0 clamp(80px, 3.621rem + 6.9vw, 120px) 0;
  /* border: 1px solid rgba(150, 101, 240, 0.685); */
}

/*------------------- 1 -------------------*/
/*------------------- /1 -------------------*/
/*
. {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	max-width: ;
	min-height: ;
	border: 1px solid rgba(150, 101, 240, 0.685);
}
	*/
