.Main {
	width: 1000px;
	margin: 0 auto;
	padding: 0 0 0 0;
}
.img-box{
	margin: 0 auto;
	padding: 0 0 0 0;
	width: 1210px;
	border: 3px solid red;
}
img {
	margin: 0 auto;
	padding: 0 0 0 0;
	width: 400px;
}
