.flex {
  display: flex;
}
.container {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 10px;
}
.back {
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.685);
}
.remark {
  border: 2px solid #fc2727;
  margin: 0 0 40px 0;
  padding: 5px;
}
.main {
  border: 0px solid rgba(150, 101, 240, 0.685);
  min-height: 220px;
  flex: 1;
}
.main > * {
  margin: 0 0 50px 0;
  /* border: 1px solid rgba(150, 101, 240, 0.685); */
}

/*-------------- intro --------------*/

.swiper__container {
  border-radius: 32px;
  background: #dce5e2;
  overflow: hidden;
}
.swiper-slide {
  max-width: 1300px;
}
.swiper__slide-iner {
  padding: 5px 15px 0 15px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.swiper__slide-iner-img {
  display: flex;
  justify-content: center;

  align-items: center;
  width: 100%;
}
.swiper__slide-iner-img img {
  width: 600px;
}

.swiper__slide-content {
  /* min-width: 320px, max-width: 1024px*/
  padding: clamp(40px, -0.199rem + 13.49vw, 120px) 0px 40px clamp(0px, -0.511rem + 5.68vw, 50px);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 1px solid rgb(250, 10, 10); */
}
.swiper__slide-title {
  margin-bottom: 20px;
}
.swiper__slide-text {
  margin-bottom: 30px;
}
.swiper__slide-button {
  padding: 14px 53px;
  border: 1px solid var(--main-color);
  border-radius: 200px;
}
@media (any-hover: hover) {
  .swiper__slide-button:hover {
    box-shadow: 0 3px 4px 0 rgb(0, 0, 0);
    transform: translateY(-5px);
  }
}

.swiper__img {
  /* border: 1px solid rgba(150, 101, 240, 0.685); */
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.swiper__button--prev {
  padding: 7px;
  width: 14px;
  height: 26px;
  box-sizing: content-box;
  color: #000;
  opacity: 0.4;
  /* min-width: 320px, max-width: 1024px */
  transform: translateX(clamp(-8px, calc(-1.097rem + 2.983vw), 13px));
}
.swiper__button--next {
  padding: 7px;
  width: 14px;
  height: 26px;
  box-sizing: content-box;
  color: #000;
  opacity: 0.4;
  /* min-width: 320px, max-width: 1024px */
  transform: translateY(-1px) translateX(clamp(-13px, calc(1.101rem - 3.006vw), 8px));
}
@media (any-hover: hover) {
  .swiper__button--prev:hover {
    opacity: 1;
  }
  .swiper__button--next:hover {
    opacity: 1;
  }
}

.swiper__pagination {
  margin: 0 0 10px 0;
}
.swiper-pagination-bullet {
  transition: all var(--transition-time) ease;
  background: var(--main-color);
  width: 50px;
  height: 2px;
  border-radius: 0;
}
.swiper-pagination-bullet-active {
  width: 190px;
  border-radius: 0;
}

@media (max-width: 1250px) {
  .swiper__slide-content {
  }
}
@media (max-width: 768px) {
  .swiper__slide-iner {
    flex-direction: column;
  }
  .swiper__slide-content {
    width: 100%;
    padding-bottom: 0;
  }
  .swiper__img {
    width: 100%;
  }
  .swiper__slide-button {
    margin: 0 auto;
    transform: translateX(-5px);
  }
  .swiper-pagination {
    display: none;
  }
}

/*-------------- 1 --------------*/
/*
. {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	max-width: ;
	min-height: ;
	border: 1px solid rgba(150, 101, 240, 0.685);
}
	*/
