:root {
  /* fonts */
  --font-family: "Inter", sans-serif;
  --second-family: "Onest", sans-serif;
  --third-family: "ReadexPro", sans-serif;

  /* colors */
  --bg-color: #fff;
  --bg-article: #f8f9fa;
  --text-article: #4b4b4b;
  --main-color: #000;

  --link-color: #000;
  --link-hover-color: #000;

  --color-button-bg: #dce5e2;
  --color-button-text: #000;

  --heading-color: #000;

  /* shadows */
  --shadow-color: #181817;

  /* transitions */
  --transition-time: 0.5s;
}
