#header {
  position: sticky;
  top: 0;
  z-index: 100;
  margin: 0 0 25px 0;
}
.header--fixed {
  box-shadow: 0 10px 20px -10px var(--shadow-color);
}
.header {
  background: var(--bg-color);
  border: 0px solid rgba(150, 101, 240, 0.685);
}
.header__container {
  min-height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__controls {
  display: flex;
  align-items: center;
  gap: 60px;
}
@media (max-width: 1024px) {
  .header__controls {
    gap: 20px;
  }
}
.header__logo {
  width: 50px;
  height: 17px;
}
.header__actions-button,
.header__burger {
  background: var(--bg-color);
  width: 24px;
  color: var(--main-color);
}
@media (any-hover: hover) {
  .header__actions-button:hover {
    color: var(--accent-color);
  }
}
.header__actions-button:active {
  color: var(--accent-color);
}

.header__actions {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header__actions svg {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .header__menu {
    padding: 144px 15px 15px 0;
    position: fixed;
    top: 0;
    right: -100vw;
    bottom: 0;
    background: var(--bg-color);
    min-width: 297px;
    z-index: 100;
    box-shadow: -2px 0 20px 0 var(--shadow-color);
    opacity: 0;
    visibility: hidden;
  }
  .header__menu .menu__list {
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
  }
  .header__menu--open {
    right: 0;
    opacity: 1;
    visibility: visible;
  }
}
.header__order {
  position: relative;
  padding: 0px 0px 5px 0;
  border-bottom: 1px solid var(--accent-color);
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 13px;
  line-height: 130%;
  color: var(--accent-color);
}
@media (any-hover: hover) {
  .header__order:hover::before {
    opacity: 1;
    visibility: visible;
  }
}

.header__order::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 90%;
  min-height: 11px;
  transform: translate(-50%, -50%);
  background: var(--link-hover-color);
  border-radius: 50%;
  filter: blur(30px);
  opacity: 0;
  visibility: hidden;
}
/*---------------- burger ----------------*/
.burger {
  color: var(--accent-color);
}
@media (width > 768px) {
  .burger {
    display: none;
  }
  .header__menu {
    margin: 0 0 0 clamp(20px, -9.167rem + 18.52vw, 120px);
    flex-grow: 1;
    transition: none;
  }
}
@media (width <= 768px) {
  .burger {
    position: relative;
    z-index: 100;
  }
  .burger__icon-menu,
  .burger--open .burger__icon-cross {
    display: block;
  }

  .burger__icon-cross,
  .burger--open .burger__icon-menu {
    display: none;
  }
}

/*---------------- /burger ----------------*/
