.flex {
  display: flex;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1270px;
}
.back {
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid var(--accent-color);
}
.remark {
  border: 2px solid #fc2727;
  margin: 20px 0 40px 0;
  padding: 5px;
}
.main {
  min-height: 220px;
  flex: 1;
}
.main > * {
  /* min-width: 320px, max-width: 900px*/
  margin: 0 0 clamp(80px, 3.621rem + 6.9vw, 120px) 0;
  /* border: 1px solid rgba(150, 101, 240, 0.685); */
}
/*------------------- menu -------------------*/
.menu__list {
  display: flex;
  gap: 30px;
}
.menu__link {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 13px;
  line-height: 130%;
  color: var(--link-color);
}
/*------------------- hero -------------------*/
@media (min-width: 425px) and (max-width: 850px) {
  .hero {
    margin: 0 0 150px 0;
  }
}
.hero__conrainer {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: clamp(260px, 5.388rem + 54.31vw, 575px);
  border: 0px solid rgba(150, 101, 240, 0.685);
}
.hero__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
@media (max-width: 1000px) {
  .hero__header {
    display: flex;
    flex-direction: column;
  }
}
.hero__benefits-list {
  position: absolute;
  left: 0;
}
@media (max-width: 1260px) {
  .hero__benefits-list {
    left: 10px;
  }
}
@media (width < 1000px) {
  .hero__benefits-list {
    top: clamp(40px, -2.328rem + 24.14vw, 180px);
  }
}
.hero__benefits-iatem {
  margin: 5px 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.hero__title {
  display: flex;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: clamp(40px, 0.628rem + 9.36vw, 128px);
  gap: clamp(7px, -0.158rem + 2.98vw, 35px);
  text-transform: uppercase;
  color: var(--main-color);
}

.hero__title-accent {
  color: transparent;
  -webkit-text-stroke: 3px var(--accent-color);
}
@media (max-width: 768px) {
  .hero__title-accent {
    -webkit-text-stroke: 1.5px var(--accent-color);
  }
}
.hero__img {
  max-width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  z-index: -1;
}
.hero__footer {
  text-align: end;
}
@media (max-width: 900px) {
  .hero__footer {
    text-align: end;
    transform: translateY(60px);
  }
}
@media (max-width: 800px) {
  .hero__footer {
    text-align: end;
    transform: translateY(100px);
  }
}
@media (max-width: 425px) {
  .hero__footer {
    text-align: end;
    transform: translateY(50px);
  }
}
.hero__details {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-color);
}
.hero__details svg {
  margin: 0 0 3px 0;
  width: 24px;
  height: 24px;
}
/*------------------- air-mag -------------------*/
.air-mag__description {
  margin: 0 0 20px 0;
  display: flex;
  /* min-width: 320px, max-width: 900px*/
  gap: clamp(3px, -0.067rem + 1.9vw, 16px);
  font-weight: 400;
}
@media (width < 1024px) {
  .air-mag__description {
    margin: 0 0 15px 0;
    flex-direction: column;
  }
}
.air-mag__description::before {
  content: "";
  display: block;
  background: url(../../img/The-glow-decor.svg);
  width: 131px;
  height: 39px;
  flex-shrink: 0;
  transform: translateX(-14px);
}
.air-mag__info-wrapper {
  display: flex;
  gap: 40px;
}

.air-mag__info-list {
  margin: 71px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 293px;
  flex-shrink: 0;
}
.air-mag__info-item::before {
  content: "";
  display: block;
  margin: 0 0 5px 0;
  background: url(../../img/icons/double-checkbox-icon.svg);
  width: 45px;
  height: 33px;
  transform: translateX(-7px);
}
@media (width <= 1024px) {
  .air-mag__info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .air-mag__info-list {
    margin: 0 0 0 0;
    width: 100%;
    flex-shrink: 1;
    gap: 20px;
  }
}
/*------------------- Sizes -------------------*/
.sizes__slider-wrapper {
  margin: 0 0 60px 0;
  padding: 46px 0 57px 0;
  border: 2px solid var(--accent-color);
  border-radius: 12px;
  box-shadow:
    0 0 30px 5px var(--accent-glow-color),
    inset 0 0 30px 5px var(--accent-glow-color);
  position: relative;
}
.sizes__slide-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sizes__slider-button {
  width: 30px;
  height: 30px;
  color: var(--main-color);
  background: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
@media (any-hover: hover) {
  .sizes__slider-button:hover {
    color: var(--accent-color);
  }
}

.sizes__slider-button--prev {
  /* min-width: 320px, max-width: 768px*/
  left: clamp(5px, -1.25rem + 7.81vw, 40px);
}
.sizes__slider-button--next {
  /* min-width: 320px, max-width: 768px*/
  right: clamp(5px, -1.25rem + 7.81vw, 40px);
  transform: translateY(-50%) rotate(-180deg);
}
.product__discription {
  padding: 0 0 40px 0;
}
.product__title-accent {
  color: var(--accent-color);
}
.product__price {
  padding: 0 0 40px 0;
}
.product__sizes-wrapper {
  display: flex;
  gap: 20px;
}
.product__sizes {
  flex: 1 1 50%;
}
.product__sizes-button {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-color);
  border-radius: 12px;
  box-shadow:
    var(--shadow-glow),
    inset var(--shadow-glow);
}
.product__sizes-button:disabled,
.product__sizes-button:disabled:hover {
  color: var(--disabled-color);
  box-shadow:
    var(--shadow-disabled-glow),
    inset var(--shadow-disabled-glow);
  border: 1px solid var(--disabled-color);
  cursor: not-allowed;
}
.product__sizes-list {
  margin: 0 0 40px 0;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

@media (any-hover: hover) {
  .product__sizes-button:hover {
    box-shadow:
      var(--shadow-accent-glow),
      inset var(--shadow-accent-glow);
    border: 1px solid var(--accent-color);
  }
}
.product__sizes-button--active {
  color: var(--accent-color);
  box-shadow:
    var(--shadow-accent-glow),
    inset var(--shadow-accent-glow);
  border: 1px solid var(--accent-color);
}
.product__sizes-title {
  margin: 0 0 20px 0;
}
.buy-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.buy-wrapper {
  margin: 20px 0 20px 0;
}
.buy-button {
  padding: 19px 38px;
  border-radius: 4px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--bg-color);
  background: var(--accent-color);
}
.buy-button:hover,
.cart-button:hover {
  box-shadow: 0 0 12px 0 var(--accent-color);
}
.cart-button {
  padding: 17px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}
.product__sizes-order-link {
  padding: 0px 0px 5px;
  border-bottom: 1px solid var(--main-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  color: var(--main-color);
}
.product__sizes-order-link:hover {
  border-bottom: 1px solid var(--accent-color);
  color: var(--accent-color);
}

@media (max-width: 786px) {
  .sizes__slider-wrapper {
    margin: 0 0 40px 0;
    padding: 50px 0 50px 0;
  }
  .product__sizes-wrapper {
    gap: 40px;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .sizes__slide-img {
    width: 100%;
    max-height: 300px;
  }
  .title-h4,
  .title-h4-secondary {
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  .sizes__slide-img {
    width: 100%;
    max-height: 190px;
  }
}
@media (max-width: 425px) {
  .buy-button {
    padding: 19px 0;
    flex: 1;
  }
}

/*--------------- characteristic ---------------*/
.characteristic__video {
  margin: 0 0 60px 0;
  position: relative;
}
.characteristic__video-play-link {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 80px;
  height: 80px;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(42, 42, 41, 0.5);
  box-shadow:
    var(--shadow-glow),
    inset var(--shadow-glow);
}
.characteristic__video-play-link:hover {
  border: 1px solid var(--accent-color);
  box-shadow:
    var(--shadow-accent-glow),
    inset var(--shadow-accent-glow);
}
.characteristic__video-play-link img {
  transform: translateX(2px);
}
.characteristics__video-preview-img {
  border: 1px solid var(--main-color);
  border-radius: 12px;
}
.characteristics__cart-text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 13px;
  line-height: 140%;
  color: var(--main-color);
}
.characteristics__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 40px 20px;
}
.characteristics__cart-icon {
  width: 40px;
  height: 40px;
  margin: 0 0 20px 0;
  transform: translateX(-5px);
}
.characteristics__cart-title {
  margin: 0 0 20px 0;
}

@media (max-width: 768px) {
  .characteristic__video-play-link {
    width: 48px;
    height: 48px;
  }
  .characteristic__video-play-link img {
    width: 10px;
    transform: translate(1px, 1px);
  }
  .characteristic__video {
    margin: 0 0 40px 0;
  }
  .characteristics__cart-icon {
    width: 32px;
    height: 32px;
  }
}
/*----------------- top-models -----------------*/
.top-models {
}
.container {
}
.top-models__title {
}
.title-h2 {
}
.top-models__titel-accent {
  color: var(--accent-color);
}
.top-models__products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 400px));
  gap: 20px;
  justify-content: center;
}
.top-models__product {
}
.top-models__ptoduct-link {
  padding: 30px;
  min-height: 204px;
  display: flex;
  gap: 11px;
  border: 2px solid var(--accent-color);
  border-radius: 12px;
  box-shadow:
    var(--shadow-accent-glow),
    inset var(--shadow-accent-glow);
}

@media (any-hover: hover) {
  .top-models__ptoduct-link:hover .top-models__product-title,
  .top-models__ptoduct-link:hover .top-models__product-icon {
    color: var(--accent-color);
  }
}
.top-models__product-content {
  width: 139px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.top-models__product-title {
  flex: 1;
}
.top-models__buttons {
  display: flex;
  gap: 40px;
}
.top-models__product-icon {
  width: 15px;
  height: 15px;
  transform: rotate(-180deg);
}
.top-models__product-icon-buy {
  width: 17px;
  height: 17px;
  color: var(--accent-color);
}
@media (any-hover: hover) {
  .top-models__ptoduct-link:hover .top-models__product-icon-buy {
    transform: scale(1.4);
  }
  .top-models__buttons-link:hover {
    box-shadow:
      var(--shadow-accent-glow),
      inset var(--shadow-accent-glow);
  }
}

.top-models__ptoduct-img {
  display: flex;
  flex-direction: column;
}
.top-models__ptoduct-img img {
  margin-top: auto;
}

@media (max-width: 768px) {
  .top-models__ptoduct-link {
    padding: 20px;
  }
}
@media (max-width: 374px) {
  .top-models__ptoduct-link {
    padding: 15px;
  }
  .top-models__product-content {
    width: 120px;
  }
  .title2-h4 {
    font-size: 15px;
  }
}
/*------------------- 1 -------------------*/
/*
. {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	max-width: ;
	min-height: ;
	border: 1px solid rgba(150, 101, 240, 0.685);
}
	*/
