.flex {
  display: flex;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1270px;
}
.back {
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid rgba(150, 101, 240, 0.685);
}
.remark {
  border: 2px solid #fc2727;
  margin: 20px 0 40px 0;
  padding: 5px;
}
.main {
  min-height: 220px;
  flex: 1;
}
.main > * {
  /* min-width: 320px, max-width: 900px*/
  margin: 0 0 clamp(80px, 3.621rem + 6.9vw, 120px) 0;
  /* border: 1px solid rgba(150, 101, 240, 0.685); */
}
/*------------------- menu -------------------*/
.menu__list {
  display: flex;
  gap: 30px;
}
.menu__link {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 13px;
  line-height: 130%;
  color: var(--link-color);
}
/*------------------- hero -------------------*/
@media (min-width: 425px) and (max-width: 850px) {
  .hero {
    margin: 0 0 150px 0;
  }
}
.hero__conrainer {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: clamp(260px, 5.388rem + 54.31vw, 575px);
  border: 0px solid rgba(150, 101, 240, 0.685);
}
.hero__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
@media (max-width: 1000px) {
  .hero__header {
    display: flex;
    flex-direction: column;
  }
}
.hero__benefits-list {
  position: absolute;
  left: 0;
}
@media (max-width: 1260px) {
  .hero__benefits-list {
    left: 10px;
  }
}
@media (width < 1000px) {
  .hero__benefits-list {
    top: clamp(40px, -2.328rem + 24.14vw, 180px);
  }
}
.hero__benefits-iatem {
  margin: 5px 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.hero__title {
  display: flex;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: clamp(40px, 0.628rem + 9.36vw, 128px);
  gap: clamp(7px, -0.158rem + 2.98vw, 35px);
  text-transform: uppercase;
  color: var(--main-color);
}

.hero__title-accent {
  color: transparent;
  -webkit-text-stroke: 3px var(--accent-color);
}
@media (max-width: 768px) {
  .hero__title-accent {
    -webkit-text-stroke: 1.5px var(--accent-color);
  }
}
.hero__img {
  max-width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  z-index: -1;
}
.hero__footer {
  text-align: end;
}
@media (max-width: 900px) {
  .hero__footer {
    text-align: end;
    transform: translateY(60px);
  }
}
@media (max-width: 800px) {
  .hero__footer {
    text-align: end;
    transform: translateY(100px);
  }
}
@media (max-width: 425px) {
  .hero__footer {
    text-align: end;
    transform: translateY(50px);
  }
}
.hero__details {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-color);
}
.hero__details svg {
  margin: 0 0 3px 0;
  width: 24px;
  height: 24px;
}
/*------------------- air-mag -------------------*/
.air-mag__description {
  margin: 0 0 20px 0;
  display: flex;
  /* min-width: 320px, max-width: 900px*/
  gap: clamp(3px, -0.067rem + 1.9vw, 16px);
  font-weight: 400;
}
@media (width < 1024px) {
  .air-mag__description {
    margin: 0 0 15px 0;
    flex-direction: column;
  }
}
.air-mag__description::before {
  content: "";
  display: block;
  background: url(../../img/The-glow-decor.svg);
  width: 131px;
  height: 39px;
  flex-shrink: 0;
  transform: translateX(-14px);
}
.air-mag__info-wrapper {
  display: flex;
  gap: 40px;
}

.air-mag__info-list {
  margin: 71px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 293px;
  flex-shrink: 0;
}
.air-mag__info-item::before {
  content: "";
  display: block;
  margin: 0 0 5px 0;
  background: url(../../img/icons/double-checkbox-icon.svg);
  width: 45px;
  height: 33px;
  transform: translateX(-7px);
}
@media (width <= 1024px) {
  .air-mag__info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .air-mag__info-list {
    margin: 0 0 0 0;
    width: 100%;
    flex-shrink: 1;
    gap: 20px;
  }
}
/*------------------- 1 -------------------*/
/*
. {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	max-width: ;
	min-height: ;
	border: 1px solid rgba(150, 101, 240, 0.685);
}
	*/
