@font-face {
  font-family: ReadexPro;
  src:
    local("ReadexPro Regular"),
    local("ReadexPro-Regular"),
    url("../../fonts/ReadexPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src:
    local("Inter Regular"),
    local("Inter-Regular"),
    url("../../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Onest;
  src:
    local("Onest Regular"),
    local("Onest-Regular"),
    url("../../fonts/Onest-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Onest;
  src:
    local("Onest Light"),
    local("Onest-Light"),
    url("../../fonts/OnestLight1602-hint.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Onest;
  src:
    local("Onest Medium"),
    local("Onest-Medium"),
    url("../../fonts/OnestMedium1602-hint.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Onest;
  src:
    local("Onest Bold"),
    local("Onest-Bold"),
    url("../../fonts/OnestBold1602-hint.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Onest;
  src:
    local("Onest ExtraBold"),
    local("Onest-ExtraBold"),
    url("../../fonts/OnestExtraBold1602-hint.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Onest;
  src:
    local("Onest Black"),
    local("Onest-Black"),
    url("../../fonts/OnestBlack1602-hint.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
