.flex {
  display: flex;
}
.container {
  margin: 0 auto;
  max-width: 1230px;
  padding: 0 5px;
}
.back {
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid rgba(150, 101, 240, 0.685);
}
.remark {
  border: 2px solid #fc2727;
  margin: 0 0 40px 0;
  padding: 5px;
  margin: 0 0 clamp(20px, 6vw, 40px) 0;
}
.main {
  border: 0px solid rgba(150, 101, 240, 0.685);
  flex: 1;
  margin: 0 0 40px 0;
}

/*
. {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	max-width: ;
	min-height: ;
	border: 1px solid rgba(150, 101, 240, 0.685);
}
	*/
