.flex {
	display: flex;
	
}
.container {
	margin: 0 auto;
	padding: 0 0 0 0;
	max-width: 1220px;
}
.back {
	margin: 0 0 10px 0;
  padding: 10px 0;
	border-bottom: 1px solid #87ffbb86;
	display: flex;
  justify-content: center;
  align-items: center;
}
header {
	border: 0px solid #fc2727;
}
.header {
	min-height: 105px;
	border-bottom: 1px solid #87ffbb86;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}
.logo {
	margin: 0;
	padding: 0;
	width: 150px;
	height: 31px;
}
.logo a, .number__telephone a {
	margin: 0;
	padding: 0;
}
.number {
	text-align: right;
}
.number__text {
	margin: 8px 0;
	color: #dbffef;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}
.number__telephone {
	margin: 8px 0;
	font-weight: 500;
	font-size: 18px;
	color: #87ffbb;
}
/*
. {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	max-width: ;
	min-height: ;
	border: 0px solid #fc2727;
}
	*/
